# Database Configuration
DB_HOST=localhost
DB_NAME=umass_dining
DB_USER=postgres
DB_PASSWORD=postgres

# Email Configuration (Required for notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=dylansbot54@gmail.com
EMAIL_PASSWORD=gpbj zbya pkzv odgj
EMAIL_FROM=noreply@dormdash.com

# Frontend URL
FRONTEND_URL=http://localhost:5173
